.page.theme_light {
  --big-title-color: var(--color-cotton-candy, #ffc2e6);
  --small-title-color: var(--color-dark-greenish-yellow-green, #353430);
  --main-text-color: var(--color-dark-greenish-yellow-green, #353430);
  --accent-color: var(--color-shiny-purplish-pink, #ff8dcb);
  --highlight-text-color: var(--color-dark-greenish-yellow-green, #353430);
  --bg-color: var(--color-pink-lavender, #fff1f7);
  --bg-image: url("../images/cover-image-light.png");
  --menu-hower-color: var(
    --color-dark-greenish-yellow-green-opacity,
    #35343040
  );

  --display-rec-circle: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --big-title-color: var(--color-cotton-candy, #ffc2e6);
    --small-title-color: var(--color-dark-greenish-yellow-green, #353430);
    --main-text-color: var(--color-dark-greenish-yellow-green, #353430);
    --accent-color: var(--color-shiny-purplish-pink, #ff8dcb);
    --highlight-text-color: var(--color-dark-greenish-yellow-green, #353430);
    --bg-color: var(--color-pink-lavender, #fff1f7);
    --bg-image: url("../images/cover-image-light.png");
    --menu-hower-color: var(
      --color-dark-greenish-yellow-green-opacity,
      #35343040
    );
  }
}
